/* Navbar on large device */
.navbar{
border-bottom: 2px solid lightgray;
padding:0 16;
width: 100%;

}

.navbar .navbar-brand{
    background-color: #4aaaa5;
    color: white;
    padding:20px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;

}


#link-container{
    float: right;
}
/* about me styles */
.container{
height: 1000px;
float: left;

background-color: lightgrey !important;

}
#about-me-container{
    background-color: white;
    padding:25px;
    margin:25px 15px;
}
.container h1{
    padding-bottom: 30;
    color: teal;
    font-size: 30px;
    font-weight: bold;
    
}
#profile-picture {
    padding-right:15px; padding-bottom: 15px;
}

/* portfolio styles */

#first-row{
    background-color: white;
    margin:25px 0px;
}



